<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ログイン</title>
</head>
<body>
    <h1>ログイン</h1>
    <div th:if="${param.error}" style="color: red;">
        ユーザー名またはパスワードが間違っています
    </div>
    <!-- th:action を使うとCSRFトークンが自動的に付与される -->
    <form th:action="@{/login}" method="post">
        <div>
            <label>ユーザー名: <input type="text" name="username"></label>
        </div>
        <div>
            <label>パスワード: <input type="password" name="password"></label>
        </div>
        <button type="submit">ログイン</button>
    </form>
    <a th:href="@{/signup}">ユーザー登録はこちら</a>
</body>
</html>
